/*Generic Styleclasses */
*.root{ /*defining colors*/
	background-color: #FFFFFF;
	foreground-color: #EBEBEB;
	highlight-color1: #D7D7D7;
	highlight-color2: #C4C4C4;
	highlight-color3: #638686; /*blue*/
	text-color-dark: black;
	text-color-light: white;
	state-color: black;
}

.root{ /*General window style*/
	-fx-background-color: background-color;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-accent: highlight-color3;
	-fx-border-color: highlight-color1;
	-fx-border-width: 1;
	-fx-border-radius: 3 3 3 3;
	-fx-background-radius: 3 3 3 3;
	-fx-font-family: Helvetica;
}

.check-box .box{
	-fx-background-color: foreground-color;
}
.check-box:selected .mark{
	-fx-background-color: state-color;
	-fx-scale-x: 1.3;
	-fx-scale-y: 1.3;
}

.button{
	-fx-background-color: foreground-color;
	-fx-wrap-text: true;
	-fx-font-size: 12;
	-fx-background-radius: 0;
	-fx-border-width: 0;
	-fx-border-color: background-color;
	-fx-font-weight: bold;
}

.button:hover{
	-fx-background-color: highlight-color1;
}

.button:pressed{
	-fx-background-color: highlight-color3;
}

.toggle-button{
	-fx-background-color: foreground-color;
	-fx-wrap-text: true;
	-fx-font-size: 12;
	-fx-background-radius: 0;
	-fx-border-color: background-color;
	-fx-font-weight: bold;
}

.toggle-button:hover{
	-fx-background-color: highlight-color1;
}
.toggle-button:selected{
	-fx-background-color: highlight-color2;
}

.toggle-button:pressed{
	-fx-background-color: highlight-color3;
}

.slider .thumb{
	-fx-background-color: state-color;
}
.slider .thumb:hover{ /* grey */
	-fx-background-color: highlight-color2;
}
.slider .thumb:pressed{ /* lightblue */
	-fx-background-color: highlight-color3;
}

.table-view .column-header{
	-fx-background-color: foreground-color;
	-fx-border-color: background-color;
	-fx-border-width: 0 1 0 0; /* order: North, East, South, West */
	-fx-font-weight: normal;
}

.table-view .filler{
	-fx-background-color: background-color;
}

/*Custom Styleclasses - individual objects*/
#tracks{
	-fx-background-color: white;
}

#trackProgress{
	-fx-accent: black;
	-fx-border-width: 1px;
	-fx-border-color: highlight-color2;
	-fx-border-style: solid;
	-fx-border-radius: 3px;
}
#trackProgress > .bar {
	-fx-background-insets: 0;
	-fx-padding: 0.2em;
}
#trackProgress > .track{
	-fx-background-color: white;
}
#trackProgress:hover{
	-fx-accent: highlight-color2;
}
#trackProgress:pressed{
	-fx-accent: highlight-color3;
}

#splashRoot{
	-fx-background-color: transparent;
	-fx-border-width: 0;
}

#splashContainer{
	-fx-translate-x: 40;
	-fx-translate-y: 280;
}
#splashLabel{
	-fx-font-size: 11;
}

#splashProgress{
	-fx-accent: black;
	-fx-border-width: 0;
	-fx-border-radius: 3px;
}

#splashProgress > .bar {
	-fx-background-insets: 0;
	-fx-padding: 0.2em;
}

#splashProgress > .track{
	-fx-background-color: highlight-color1;
}

#backward{
	-fx-graphic: url(/icons/icon_forward.png);
	-fx-rotate: 180;
	-fx-max-height: 999;
}
#playpause{
	-fx-graphic: url(/icons/icon_play.png);
	-fx-max-height: 999;
}
#forward{
	-fx-graphic: url(/icons/icon_forward.png);
	-fx-max-height: 999;
}

#volumeIcon{
	-fx-graphic: url(/icons/icon_volume.png);
	-fx-max-height: 999;
}

#ratingObjects{
	-fx-spacing: 0;
	-fx-padding: 0 6px 0 6px;
}

#shuffle{
	-fx-graphic: url(/icons/icon_shuffle.png);
	-fx-max-height: 999;
}
#autodj{
	-fx-graphic: url(/icons/icon_autodj_off.png);
	-fx-max-height: 999;
}

#close{
	-fx-graphic: url(/icons/icon_close.png);
	-fx-max-height: 999;
}

#minimize{
	-fx-graphic: url(/icons/icon_minimize.png);
	-fx-max-height: 999;
}

#search_close{
	-fx-image: url(/icons/icon_search_close.png);
}
#search_close:hover{
	-fx-image: url(/icons/icon_search_close_mouseover.png);
}
#search_close:pressed{
	-fx-image: url(/icons/icon_search_close_activated.png);
}


#progressKnob{
	-fx-fill: highlight-color1;
}
#controlsRoot{
	-fx-background-color: foreground-color;
	-fx-alignment: center-left;
	-fx-padding: 6px;
	-fx-insets: 6px;
}

#bottomControlsRoot{
	-fx-background-color: foreground-color;
	-fx-alignment: center-left;
	-fx-padding: 3px 0 0 0;
}

#trackoverlay{
	-fx-background-color: rgba(0,0,0,0.3);
}
#trackoverlay .label{
	-fx-text-fill: white;
	-fx-font-size: 12pt;
}
#search{
	-fx-font-size: 12pt;
	-fx-text-fill: black;
	-fx-background-color: white;
}

#menuRoot{
	-fx-background-color: foreground-color;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: foreground-color;
}
#menuRoot .toggle-button{
	-fx-border-width: 0;
}

#rebuildProgress{
	-fx-accent: highlight-color2;
	-fx-background-insets: 0;
}

#placeholderRoot .label{
	-fx-font-size: 12pt;
	-fx-text-fill: highlight-color2;
	-fx-text-alignment: center;
	-fx-wrap-text: true;
}


#tracklistRoot{
	-fx-background-color: foreground-color;

}

#tracklistView{
	-fx-padding: 0px;
	-fx-background-insets: 0;
	-fx-border-color: foreground-color;
	-fx-border-width: 0 0 0 3;
}

/* Custom Styleclasses - additional effects*/
.current_song{
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}